@{
    ViewBag.Title = "AddItem";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>signup</title>
    <style>
        #divid {
            margin-left: 470px;
            margin-top: 50px;
            height: 500px;
            width: 400px;
            border-radius: 30px;
            border: 1px solid #8AC007;
            -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
            -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
            box-shadow: 1px 2px 5px rgba(0,0,0,.31);
        }

        #b {
            margin-left: 140px;
            height: 40px;
            width: 120px;
            margin-top: 20px;
            -moz-box-shadow: inset 0px -3px 7px 0px #29bbff;
            -webkit-box-shadow: inset 0px -3px 7px 0px #29bbff;
            box-shadow: inset 0px -3px 7px 0px #29bbff;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
            background: -moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
            background: -webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
            background: -o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
            background: -ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
            background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
            background-color: #2dabf9;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            border: 1px solid #0b0e07;
            display: inline-block;
            cursor: pointer;
            color: #ffffff;
            font-family: Arial;
            font-size: 15px;
            padding: 9px 23px;
            text-decoration: none;
            text-shadow: 0px 1px 0px #263666;
        }

            #b:hover {
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
                background: -moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
                background: -webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
                background: -o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
                background: -ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
                background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
                background-color: #0688fa;
            }

        #signup {
            font-family: "Trebuchet MS", Helvetica, sans-serif;
            color: #800000;
        }

        #homeid {
            text-decoration: none;
            font-family: "Trebuchet MS", Helvetica, sans-serif;
            color: #800000;
            margin-left: 150px;
            margin-top: 100px;
        }
    </style>
    </head>
<body>
        <a href=""><h2 id="homeid">Home</h2></a>
        <div id="divid">
            <table>
                <tr>
                    <td>
                        <h2 id="AddItem">Add Item</h2>

                    </td>

                </tr>
               
                <tr>
                    <td>
                        <h5 id="namef">Item Name</h5>
                    </td>
                    <td>
                        <input id="fname" name="name" type="text" required />
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>Quantity</h5>
                    </td>
                    <td>
                        <input id="cpassword" name="quantity" required />
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <h5>Price</h5>
                    </td>
                    <td>
                        <input id="email" name="price"  required />
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>Size</h5>
                    </td>
                    <td>
                        <input id="size" name="size"  required />
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>Item Category</h5>
                    </td>
                    <td>
                        <input id="category" name="category" required />
                    </td>
                </tr>
                
            </table>
           
            <button id="b" type="submit" class="btn btn-info btn-block">Add</button>
            <h4>@ViewBag.status</h4>
            
        </div>

    <form action="/home/save" method="post" enctype="multipart/form-data">

        Upload Image: <input type="file" name="image" />



        <input type="submit" value="upload" />
    </form>
        
</body>
</html>