@{
    ViewBag.Title = "AdminView";
}

<html>

<head>
    <title>Admin View</title>
    <style>
        #addId {
            font-size: 30px;
            font-family: sans-serif;
        }

        #addDiv {
            margin-left: 460px;
            height: 500px;
            width: 400px;
            border: 1px solid black;
        }

        #add {
            width: 200px;
            border: 1px solid black;
            height: 100px;
        }
    </style>
</head>
<body>
    <div id="addDiv">
        <table>
            <tr>
                <td> <a><img src="~/Content/adminpics/document_add.png" width="50" height="50"></a></td>
                <td><a href="~/Account/index" style="color:#0094ff"> <h1>1-Add</h1> </a></td>
            </tr>
            <tr>
                <td><a><img src="~/Content/adminpics/images.jpg" width="50" height="50"></a></td>
                <td><a href="~/Account/UpdateItem" style="color:#0094ff"> <h1>2-update</h1> </a></td>
            </tr>
            <tr>
                <td><a><img src="~/Content/adminpics/download.png" width="50" height="50"></a></td>
                <td><a href="~/Account/DeleteItem" style="color: #0094ff"> <h1>3-Delete</h1> </a></td>
            </tr>
            <tr>
                <td><a><img src="~/Content/adminpics/images1.jpg" width="50" height="50"></a></td>
                <td><a href="" style="color: #0094ff"> <h1>4-View</h1> </a></td>
            </tr>
            <tr>
                <td><a><img src="~/Content/adminpics/images.jpg" width="50" height="50"></a></td>
                <td><a href="" style="color: #0094ff"> <h1>5-Chagne Password</h1> </a></td>
            </tr>
            <tr>
                <td><a><img src="~/Content/adminpics/images2.jpg" width="50" height="50"></a></td>
                <td><a href="" style="color: #0094ff"> <h1>6-Log Out</h1> </a></td>
            </tr>
        </table>
    </div>

</body>
</html>


