@{
    ViewBag.Title = "paymentDetail";
}

<html>
<head>
    <title></title>


</head>
<body>

    <div class="form-group">

        <br />

        <div>
            <label>Card Number  </label>     <input type="number" name="telephone" class="form-control" id="telephone" placeholder="telephone" required>
        </div>
    </div>
</body>

</html>